# {{ ansible_managed }}

upstream archivematica_dashboard_backend {

    server {{ archivematica_src_am_dashboard_nginx_bind }};

}

server {

  listen 80 default_server;
  server_name _;
    {% if archivematica_src_syslog_enabled|bool %}
    error_log syslog:server={{ archivematica_src_syslog_server }},tag=dashboard info;
    access_log syslog:server={{ archivematica_src_syslog_server }},tag=dashboard combined;
    {% endif %}

  # Adjust to taste
  client_max_body_size 256M;

{% if archivematica_src_ssl_include_acme_chlg_loc|bool %}
  # location for acme challenge (non-encrypted)
  include /etc/nginx/acmetool-location.conf;
{% endif %}

  # redirect to https
  return 301 https://$host$request_uri;

}

server {

  listen 443 ssl;
  server_name am.lib.fsu.edu;

  ssl_certificate  {{ archivematica_src_ssl_fullchain }};
  ssl_certificate_key {{ archivematica_src_ssl_privkey }};

  ssl_session_timeout 1d;
  ssl_session_cache shared:SSL:50m;

  ssl_protocols TLSv1.2 TLSv1.3;
  ssl_ciphers TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384; 
  ssl_prefer_server_ciphers on;
  ssl_dhparam /etc/dhparam.2048;

  ssl_stapling on;
  ssl_stapling_verify on;

  # Adjust to taste
  client_max_body_size 256M;

{% if archivematica_src_ssl_include_acme_chlg_loc|bool %}
  # location for acme challenge
  include /etc/nginx/acmetool-location.conf;
{% endif %}

  location / {
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto https;
    proxy_redirect off;
    proxy_buffering off;
    proxy_read_timeout {{ archivematica_src_am_dashboard_nginx_proxy_read_timeout }};
    proxy_pass http://archivematica_dashboard_backend;
  }

}
